<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>[% title %]</title>
<link href="/style.css" rel="stylesheet" type="text/css" />
[% IF refresh %]<meta http-equiv="refresh" content="60">[% END %]
</head>
<body>

<div class="banner">
  <div id="menu">
    <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/summary/'>Summary</a></li>
    <li><a href='/ships/'>Ships</a></li>
    [% IF user.type %]
        <li><a href='/brief/'>Brief</a></li>
    [% END %]
    [% IF user.type == "admin" || user.type == "member" %]
        <li><a href='/tasks/'>Tasks</a></li>
        <li><a href='/unparsed/'>Unparsed</a></li>
    [% END %]
    [% IF user.type == "admin" %]
        <li><a href='/users/'>Users</a></li>
    [% END %]
    </ul>
  </div>
  <div style="float:left;padding-left:20px">
      <form action="/search">
          <input type="text" name="signal">
          <input type="submit" class="submit" name="submit" value="Quick search">
      </form>
  </div>
  <div class="username">
  [% IF user %]
    Logged in as <a href="/myaccount">[% user.username %]</a>
    (<a href="?logout=1">Logout</a>)
  [% ELSE %]
    <a href="?login=1">Login</a>
  [% END %]
  </div>
</div>
<hr>
