[% INCLUDE header.html %]

[% IF errors.size %]
    <div class="error">
    [% FOREACH error IN errors %]
        [% error %]<br />
    [% END %]
    </div>
[% ELSIF success %]
    <div class="success">
        [% success %]
    </div>
[% END %]

[% UNLESS success %]

    <h2>Register account</h2>
    <p>Please register for an account using the form below. All account
    requests will be sent for approval, after which an email will be
    sent to your account.</p>
    <form id="loginform" method="POST">
    <div class="form_row">
        <label class="formstyle" for="forename">Firstname:</label>
        <input class="formstyle" type="textbox" name="forename" value="[% nuser.forename | html_entity %]">
    </div>
    <div class="form_row">
        <label class="formstyle" for="surname">Surname:</label>
        <input class="formstyle" type="textbox" name="surname" value="[% nuser.surname | html_entity %]">
    </div>
    <div class="form_row">
        <label class="formstyle" for="username">Username:</label>
        <input class="formstyle" type="textbox" name="username" value="[% nuser.username | html_entity %]">
        <em style="color:grey">Please keep this role-based and short</em>
    </div>
    <div class="form_row">
        <label class="formstyle" for="email">Email:</label>
        <input class="formstyle" type="textbox" name="email" value="[% nuser.email | html_entity %]">
        <em style="color:grey">Internet email (eg your-role-name@mod.uk)</em>
    </div>

    <input class="submit" type="submit" value="Register" name="create">
    </form>

[% END %]

[% INCLUDE footer.html %]
